body, html {
    height: 100%;
    font-family: Prompt, sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #FFF;
    background-color: #1D1D1D;
    scroll-behavior: smooth
}

/* BACK TO TOP BUTTON */


/* NAVBAR */
.navbar-nav {
	margin-top: 20px;
}

.nav-link {
	color: #FFF;
	margin-right: 30px;
}

.nav-link:hover {
	color: #FD266E;
}

.con {
	border: solid #FD266E;
	border-radius: 10px;
	padding: 8px;
}

.con:hover {
	color: #FFF;
	background: #FD266E;
}

/* NAV BUTTON */

.fa-bars {
  color: #FD266E;
  font-size: 1.5rem;
  border: 3px solid #FD266E;
  border-radius: 5px;
  padding: 3px 5px;
}

.navbar-toggler:focus {
  outline: 0;
}

/* NAV BUTTON OPEN */

.navbar-collapse.collapsing {
  text-align: center;
  background-color: #060404;
}

/* NAVBAR SCROLLED */
.fixed-top.scrolled {
  background-color: #060404 !important;
  transition: background-color 200ms linear;
  height: 75px;
  padding-bottom: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
}


/* LANDING */
/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/landing.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #FFF;
  margin-left: 5%;
}

.hero-text h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.hero-text p {
	font-size: 25px;
}

.hero-text mark {
	color: #FD266E;
	background: none;
}

/* PROJECTS */
#projects h2 {
	color: #FD266E;
	padding-top: 130px;
	padding-bottom: 100px;
}

.org {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 80px;
  padding: 7px 0;
}

.illustr {
  padding: 22px 0;
}

/*front end*/
#front-end {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/front_end.jpg"); 
    width: 300px;
    height: 300px;
    background-size: cover;
    padding-top: 120px;
    border-radius: 12px;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    box-shadow: 0 0 11px rgba(0,0,0,1);
    text-shadow: 2px 2px 4px #1D1D1D;
}

/*graphic design*/
#graphic-design {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/welcome.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
    padding-top: 120px;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    box-shadow: 0 0 11px rgba(0,0,0,1);
    text-shadow: 2px 2px 4px #1D1D1D;
}

/*illustrations*/
#illustrations {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/illustrations.jpg");
    width: 300px;
    height: 300px;
    background-size: cover;
    padding-top: 120px;
    border-radius: 12px;
    text-align: center;
    margin-left: 50px;
    letter-spacing: 2px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    box-shadow: 0 0 11px rgba(0,0,0,1);
    text-shadow: 2px 2px 4px #1D1D1D;
}

.projects a {
    color: #FFF;
}

/*hover*/

#front-end:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  cursor: pointer;
}

#graphic-design:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 11px rgba(0,0,0,1);
}

#illustrations:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 11px rgba(0,0,0,1);
}

.projects a:hover {
    text-decoration: none;
}

/*COMING SOON*/
.soon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Prompt, sans-serif;
  font-size: 36px;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#graphic-design:hover .org {
  opacity: 0;
}
#graphic-design:hover .soon {
  opacity: 1;
}

#illustrations:hover .org {
  opacity: 0;
}
#illustrations:hover .soon {
  opacity: 1;
}

/* projects end */
#projects .projects {
	padding-bottom: 50px;
}

/* ABOUT */
#about h2 {
    color: #FD266E;
    padding-top: 130px;
    padding-bottom: 30px;
}

#about img {
    margin-left: 190px;
    margin-top: 10px;
    width: 350px;
    height: 350px;
}

/* CONTACT */
#contact h2 {
    color: #FD266E;
    padding-top: 130px;
    padding-bottom: 30px;
}

#contact i {
    margin-bottom: 100px;
}


/********** Large devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {

  .hero-text {
    margin-left: 5%;
  }

  #projects h2, #contact h2 {
    padding-bottom: 50px;
  }

  #projects h2, #about h2, #contact h2 {
    padding-top: 100px;
  }
  
  /* PROJECTS */

  #front-end, #graphic-design, #illustrations {
    width: 250px;
    height: 250px;
    padding-top: 90px;
    margin: 0 auto;
  }

  /* ABOUT */

  #about h2 {
    padding-bottom: 10px;
  }

  #about img {
    margin-left: 90px;
    margin-top: 40px;
    width: 300px;
    height: 300px;
  }
}

/********** Medium and smaller devices **********/

@media (max-width: 991px) {

  .hero-text {
    margin-left: 5%;
  }

  /* PROJECTS */
  #projects h2 {
    text-align: center;
    padding-bottom: 30px;
  }

  #front-end {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
  }

   #illustrations {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  #projects .projects {
    padding-bottom: 0;
  }

  /* ABOUT */
  #about h2, #about p {
    text-align: center;
  }

  #about h2 {
    padding-bottom: 30px;
  }

  #about p {
    padding-top: 0;
  }

  #about img {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* CONTACT */
  #contact h2, #contact p {
    text-align: center;
  }

}

/********** XS devices only **********/

@media (max-width: 575px) {

  #projects h2, #about h2, #contact h2 {
    padding-top: 80px;
  }
  
   /* HERO */

  .hero-text {
    margin-left: 10%;
  }

  .hero-text h1 {
    font-size: 40px;
  }

   /* PROJECTS */

  #front-end, #graphic-design, #illustrations {
    width: 250px;
    height: 250px;
    padding-top: 90px;
  }

   /* ABOUT */

  #about img {
    width: 250px;
    height: 250px;
  }

   /* CONTACT */

  #contact i {
    margin-bottom: 0px;
  }

  #contact p {
    padding-bottom: 80px;
  }
  
}