body, html {
    height: 100%;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #FFF;
    background-color: #1D1D1D;
    scroll-behavior: smooth
}

/* BACK TO TOP BUTTON */


/********** NAVBAR **********/
.navbar {
  background-color: #020202;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

.nav-link {
	color: #FFF;
	margin-right: 30px;
}

.nav-link:hover {
	color: #FD266E;
}

.con {
	border: solid #FD266E;
	border-radius: 10px;
	padding: 6px;
  margin-top: 2px;
}

.con:hover {
	color: #FFF;
	background: #FD266E;
}

/* NAV BUTTON */

.fa-bars {
  color: #FD266E;
  font-size: 1.5rem;
  border: 3px solid #FD266E;
  border-radius: 5px;
  padding: 3px 5px;
}

.navbar-toggler:focus {
  border: none;
}

/* NAV BUTTON OPEN */

.navbar-collapse.collapsing {
  text-align: center;
  background-color: #060404;
}

/* NAVBAR SCROLLED */
/* .fixed-top.scrolled {
  background-color: #060404 !important;
  transition: background-color 200ms linear;
  height: 75px;
  padding-bottom: 30px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
} */

.navbar.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


/********** LANDING **********/
/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../images/landing.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -25%);
  color: #FFF;
  text-align: center;
}

.hero-text h1 {
    font-size: 58px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
}

.hero-text p {
	font-size: 28px;
  margin-bottom: 15%;
}

.hero-text mark {
	color: #FD266E;
	background: none;
}

.bi-arrow-down-circle {
  font-size: 2.4rem;
  color: #FFF;
}

/********** PROJECTS **********/
#projects h2 {
	color: #FD266E;
  text-transform: uppercase;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
	padding-top: 130px;
  text-align: center;
}

#projects .joon {
  background-color: #FFF;
  border: solid 2px;
  width: 55px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.hg {
  height: 125px;
}

/*web development*/
#web {
    background-color: #6D676E;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 0 auto;
}

.fa-code {transform: translate(27px, 33px);}

/*graphic design*/
#design {
  background-color: #6D676E;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 0 auto;
}

.fa-edit {transform: translate(35px, 30px);}

/*illustrations*/
#art {
  background-color: #6D676E;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 0 auto;
}

.fa-paint-brush {transform: translate(33px, 32px);}

/*icons*/

#web i, #art i {
  font-size: 2.5rem;
  text-align: center;
  
}

#design i {font-size: 2.7rem; text-align: center;}

/*text*/

.org {
  font-family: Bebas Neue, sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 1px;
}

.projects a {
    color: #FFF;
}

/*hover*/

#web:hover, #design:hover, #art:hover {
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03);
  cursor: pointer;
  background-color: #FAA916;
}

.projects a:hover {
    text-decoration: none;
}

/*COMING SOON*/
.soon {
  font-family: Bebas Neue, sans-serif;
  font-size: 28px;
  opacity: 0;
}

#design:hover .org {
  opacity: 0;
}
#design:hover .soon {
  opacity: 1;
}

#art:hover .org {
  opacity: 0;
}
#art:hover .soon {
  opacity: 1;
}

/* projects end */
#projects .projects {
	padding-bottom: 50px;
}

/********** ABOUT **********/
#about h2 {
  color: #FD266E;
  text-transform: uppercase;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 130px;
}

#about .joon {
  background-color: #FFF;
  border: solid 2px;
  width: 55px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 10px;
}

#about p {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

#about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

/********** SKILLS **********/

#skills h2 {
  color: #FD266E;
  text-transform: uppercase;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  padding-top: 130px;
  text-align: center;
}

#skills .joon {
  background-color: #FFF;
  border: solid 2px;
  width: 55px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 10px;
}

.skill-icons {
  position: relative;
  height: 350px;
  color: #6D676E;
}

      /* html */
      .fa-html5 {
        position: absolute;
        font-size: 5rem;
        left: 25%;
      }

      /* css */
      .fa-css3-alt {
        position: absolute;
        font-size: 5rem;
        left: 42%;
        top: 15%;
      }

      /* php */
      .php {
        position: absolute;
        left: 10%;
        top: 38%;
        filter: invert(43%) sepia(7%) saturate(347%) hue-rotate(245deg) brightness(92%) contrast(87%);
      }

      /* javascript */
      .fa-js {
        position: absolute;
        font-size: 4.5rem;
        left: 44%;
        top: 75%;
      }

      /* mysql */
      .sql {
        position: absolute;
        left: 27%;
        top: 52%;
        filter: invert(43%) sepia(7%) saturate(347%) hue-rotate(245deg) brightness(92%) contrast(87%);
      }

      /* figma */
      .fa-figma {
        position: absolute;
        font-size: 4.5rem;
        left: 58%;
        top: 50%;
      }

      /* canva */
      .canva {
        position: absolute;
        right: 10%;
        top: 10%;
        filter: invert(43%) sepia(7%) saturate(347%) hue-rotate(245deg) brightness(92%) contrast(87%);
      }

      /* affinity photo */
      .aff-photo {
        position: absolute;
        right: 33%;
        filter: invert(43%) sepia(7%) saturate(347%) hue-rotate(245deg) brightness(92%) contrast(87%);
      }

      /* affinity designer */
      .aff-designer {
        position: absolute;
        right: 20%;
        top: 57%;
        filter: invert(43%) sepia(7%) saturate(347%) hue-rotate(245deg) brightness(92%) contrast(87%);
      }

.fa-html5:hover, .fa-css3-alt:hover, .fa-js:hover, .fa-figma:hover {
  color: #FAA916;
}

.php:hover, .sql:hover, .canva:hover, .aff-photo:hover, .aff-designer:hover {
  filter: invert(73%) sepia(40%) saturate(3054%) hue-rotate(349deg) brightness(104%) contrast(96%);
}

/********** CONTACT **********/
#contact h2 {
  color: #FD266E;
  text-transform: uppercase;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  padding-top: 130px;
  text-align: center;
}

#contact .joon {
  background-color: #FFF;
  border: solid 2px;
  width: 55px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 10px;
}

form {
  margin: 0 auto;
  width: 55%;
}

#contact label {
  margin-bottom: 5px;
  
}

.name-mail input {
  height: 45px;
  background-color: #C4C4C4;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.sub input {height: 45px; margin-bottom: 20px;}
.msg textarea {height: 200px;}

.sub input, .msg textarea {
  background-color: #C4C4C4;
  font-size: 20px;
  font-weight: 600;
}

/* focus */

.name-mail input:focus, .sub input:focus, .msg textarea:focus {
  background-color: #C4C4C4;
  box-shadow: none;
}

.form-control:focus {
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #C4C4C4 inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: #1D1D1D !important;
}

/* button */

.btn {
  background-color: #FD266E;
  border-radius: 10px;
  color: #FFF;
  font-weight: 500;
  padding: 5px 15px;
  margin-top: 50px;
}

.btn:hover {
  background-color: #FAA916;
  color: #FFF;
}

.btn:focus {
  box-shadow: none;
}

#btn-holder {
  text-align: center;
}

/* icons */

.contact-icons {
  font-size: 2rem;
  margin-top: 130px;
  text-align: center;
}

.fa-github, .fa-linkedin-in {
  margin-left: 10px;
  margin-right: 10px;
  color: #FFF;
}

.fa-github:hover, .fa-linkedin-in:hover {
  color: #FAA916;
}

#page-end {
  padding-top: 30px;
}

/********** Large devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {

  #projects h2, #contact h2 {
    padding-bottom: 50px;
  }

  #projects h2, #about h2, #contact h2 {
    padding-top: 100px;
  }

  /* ABOUT */

  #about h2 {
    padding-bottom: 10px;
  }

  /* CONTACT */

  form {
    width: 70%;
  }

}

/********** Medium devices **********/

@media (max-width: 991px) {

  #projects h2, #skills h2, #contact h2 {
    padding-top: 80px;
  }

  #projects .joon, #skills .joon {
    margin-bottom: 60px;
  }

  #about .joon, #contact .joon {
    margin-bottom: 40px;
  }
  
  /* HERO */

  .hero-text {
    top: 40%;
  }
  
  /* PROJECTS */

  #projects .projects {
    padding-bottom: 0;
  }

  .hg {
    margin-bottom: 100px;
  }

  /* ABOUT */

  #about h2 {
    padding-top: 40px;
  }

  #about p {
    padding-top: 0;
  }

  #about img {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* SKILLS */

        /* html */
        .fa-html5 {
          font-size: 4rem;
          left: 20%;
        }

        /* css */
        .fa-css3-alt {
          font-size: 4rem;
          left: 40%;
          top: 15%;
        }

        /* php */
        .php {
          left: 6%;
          top: 30%;
          height: 100px;
        }

        /* javascript */
        .fa-js {
          font-size: 3.7rem;
          left: 47%;
          top: 75%;
        }

        /* mysql */
        .sql {
          left: 24%;
          top: 47%;
          height: 105px;
        }

        /* figma */
        .fa-figma {
          font-size: 3.7rem;
          left: 58%;
          top: 40%;
        }

        /* canva */
        .canva {
          right: 4%;
          top: 10%;
          height: 85px;
        }

        /* affinity photo */
        .aff-photo {
          right: 28%;
          height: 75px;
        }

        /* affinity designer */
        .aff-designer {
          right: 13%;
          top: 55%;
          height: 75px;
        }

  /* CONTACT */
  
  form {
    width: 85%;
  }

}

/********** Small devices **********/

@media (max-width: 767px) {

  /* ABOUT */

  #about img {
    width: 250px;
    height: 250px;
  }

  /* SKILLS */

        /* html */
        .fa-html5 {
          font-size: 3.5rem;
          left: 18%;
        }

        /* css */
        .fa-css3-alt {
          font-size: 3.5rem;
          left: 38%;
          top: 17%;
        }

        /* php */
        .php {
          left: 0%;
          top: 30%;
          height: 90px;
        }

        /* javascript */
        .fa-js {
          font-size: 3.2rem;
          left: 50%;
          top: 72%;
        }

        /* mysql */
        .sql {
          left: 24%;
          top: 45%;
          height: 95px;
        }

        /* figma */
        .fa-figma {
          font-size: 3.2rem;
          left: 60%;
          top: 38%;
        }

        /* canva */
        .canva {
          right: 0%;
          top: 10%;
          height: 75px;
        }

        /* affinity photo */
        .aff-photo {
          right: 26%;
          height: 65px;
        }

        /* affinity designer */
        .aff-designer {
          right: 10%;
          top: 50%;
          height: 65px;
        }

}

/********** XS devices only **********/

@media (max-width: 575px) {

  #projects h2, #about h2, #skills h2, #contact h2 {
    font-size: 28px;
  }
  
   /* HERO */

  .hero-text h1 {font-size: 40px;}
  .hero-text p {font-size: 22px;}
  .bi-arrow-down-circle {font-size: 2rem;}

   /* PROJECTS */

   #web, #design, #art {
    width: 100px;
    height: 100px;
  }

  #web i, #art i {font-size: 2rem;}
  #design i {font-size: 2.2rem;}

  .fa-code {transform: translate(22px, 29px);}
  .fa-edit {transform: translate(28px, 26px);}
  .fa-paint-brush {transform: translate(28px, 28px);}

  .org {
    font-size: 22px;
  }

   /* ABOUT */ 

  #about p {
    font-size: 18px;
  }

  #about img {
    width: 225px;
    height: 225px;
  }

  /* SKILLS */

  .skill-icons {
    height: 1250px;
  }

        /* html */
        .fa-html5 {
          font-size: 5rem;
          left: 50%;
          transform: translate(-50%, 0);
        }

        /* css */
        .fa-css3-alt {
          font-size: 5rem;
          top: 12%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        /* php */
        .php {
          height: 115px;
          top: 34%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        /* javascript */
        .fa-js {
          font-size: 4.5rem;
          top: 24%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        /* mysql */
        .sql {
          height: 115px;
          top: 43%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        /* figma */
        .fa-figma {
          font-size: 4.5rem;
          top: 67%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        /* canva */
        .canva {
          height: 95px;
          top: 55%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        /* affinity photo */
        .aff-photo {
          height: 95px;
          top: 79%;
          left: 50%;
          transform: translate(-50%, 0);
        }

        /* affinity designer */
        .aff-designer {
          height: 95px;
          top: 92%;
          left: 50%;
          transform: translate(-50%, 0);
        }

   /* CONTACT */

  form {
    width: 95%;
  }

  form label {
    font-size: 18px;
  }

  .contact-icons {
    font-size: 1.6rem;
  }
  
}